body {
    background-color: #FAF9F8;
    font-family: 'Noto Sans';
    margin: 0px;
}

/* Nav Bar Styling */

#nav-bar {
    display: inline-block;
    background-color: white;
    border-bottom: 1px solid #E4E2E0;
    width: 100%;
    position: 20px;
}

#indeed-logo, #hispanic-heritage-icon {
    height: 30px;
    margin: 20px;
    margin-right: 10px;
    float: left;
}

.nav-icon {
    height: 20px;
    margin: 30px 15px 20px 15px;
}

#nav-right-elements {
    display: inline-block;
}

h5 {
    margin: 30px 10px 20px 20px;
    font-weight: normal;
    color: #2D2D2D;
}

/* Job Description Styling */

#job-description {
    background-color: white;
    border: 1px solid #A8A8A8;
    margin: auto;
    margin-top: 35px;
    width: 60%;
    padding: 20px;
}

#job-description-row1 {
    display: inline-block;
    width: 100%;
}

#company-logo {
    width: 35px;
}

#company-logo-div {
    border: 1px solid #E4E2E0;
    border-radius: 10px;
    padding: 15px;
    width: fit-content;
}

#job-description-text {
    margin: 20px;
}

h4 {
    font-size: 15px;
    margin: 12px 20px 5px 20px;
}

#job-loc {
    font-size: 12px;
    color: #A8A8A8;
    margin: 0px 20px 0px 20px;
}

#view-full-posting {
    font-size: 13px;
    font-weight: bolder;
    color: #153B9D;
    margin: 25px;
}

/* Progress bar */

#progress-bar {
    border: 1px solid #A8A8A8;
    border-radius: 100px;
    height: 35px;
    width: 95%;
    box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.2);
}

#completion-bar {
    background-color: #153B9D;
    border: 1px solid #153B9D;
    border-radius: 100px;
    height: 25px;
    width: 60%;   /* change this on the specfic page css file to change percent filled */
    margin: 5px;
    box-shadow: inset 0px -2px 3px 0px rgba(0,0,0,0.3);

}

/*Content styling */

.question {
    margin-top: 30px;
    font-size: 20px;
    font-weight: bolder;
    color: #153B9D;
}

#dropdown-box {
    border: 1px solid #A8A8A8;
    border-radius: 100px;
    height: 35px;
    width: 25%;
    box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.2);
}

#dropdown-selection {
    left: 20px;
    bottom: 15px;
    font-weight: bold;
    font-size: 18px;  
    position: relative;
}

#dropdown-polygon {
    left: 80px;
    bottom: 60px;
    font-weight: bold;
    font-size: 18px;  
    position: relative;
    width: 100%;
}

#text-box {
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    height: 150px;
    width: 95%;
    box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.2);
}

#textbox-cta {
    color: #828282;
    left: 15px;
    bottom: 15px;
    top: 2px;
    font-weight: bold;
    font-size: 15px;  
    position: relative;
}



 

/* Nav Buttons Styling */

#nav-buttons {
    width: 60%;
    margin: auto;
    padding: 20px;
}

#back-button {
    font-size: 20px;
    font-weight: bolder;
    color: #153B9D;
}

/* Footer Styling */

footer {
    margin: auto;
    margin-top: 40px;
    width: fit-content;
    text-align: center;
}

.footer-gray {
    font-size: 14px;
    color: #A8A8A8;
    margin: 0px;
    padding-top: 15px;
}

.footer-blue {
    font-size: 14px;
    color: #153B9D;
    margin: 0px;
    padding-top: 15px;
    padding-left: 5px;
}

#footer-row2 {
    width: fit-content;
    margin: auto;
}


/* Misc Styling */

main {
    background-color: white;
    border: 1px solid #A8A8A8;
    margin: auto;
    margin-top: 35px;
    width: 60%;
    padding: 25px;
}

p {
    font-size: 15px;
}

button {
    color: white;
    font-size: 20px;
    font-weight: bolder;
    background-color: #153B9D;
    border: 1px solid #153B9D;
    border-radius: 5px;
    padding: 6px 15px 6px 15px;
}

h2 {
    margin-top: 0px;
    font-size: 20px;
    font-weight: bolder;
    color: #153B9D;
}

h3 {
    font-size: 18px;
    font-weight: bolder;
    color: #153B9D;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

