#job-description {
    margin-top: 0px;
}


#back-but-div {
    padding-top: 20px;
    padding-bottom: 10px;
}

#back-button {
    margin-left: 18%;
}

#apply-button {
    margin: 15px;
}

h6 {
    font-size: 15px;
    font-weight: bold;
    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 0px;
}

li {
    font-size: 15px;
}